<html lang="en">
    <head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=>, initial-scale=1.0">
<link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<title> Create a post</title>
<body>
<div class= "header">
    <h1>Create a post</h1>
    <%- include('./partials/header.ejs') %>
</div>
<div class="create-post">

 <br>
 <form action="/posts" method="POST">
 <label for="id">Id:</label>
 <input type="text" id="id" name="id" required><br><br>
 <label for="title">Post title:</label>
 <input type="text" id="title" name="title" required><br><br>
 <label for="body">Post body:</label>
 <input type="text" id="body" name="body" required><br><br>
 <label for="image"> Image name:</label>
 <input type="text" id="image" name="image"></textarea><br><br>
 <button>Submit</button>
 </form>
 </div>
 <%- include('./partials/footer.ejs') %>
</body>
</html>
